@import "00_variablen.css";

input {
    border-radius: 0;
    padding: 0;
    text-align: center;
    border-style: none;
    font-family: var(--standard-font-family);
    caret-color: transparent;
    background-color: transparent;
    font-size: var(--answer-font-size);
}

img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

/* Shake (used for empty Input-Fields)*/
.input_field_shake {
    animation: shake 0.8s;
}

@keyframes shake {
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}
