.task {
    grid-area: task;
    display: grid;
    background: url("../pics/2_task/2_Background.svg") no-repeat;
    background-size: 80vw 60vh;
    grid-template-rows: 14vh 20vh 20vh;
    grid-template-areas:
            "task-text"
            "task-pic"
            "answers";
}
.task_pics{
    grid-area: task-pic;
    margin-left: 5vw;
    margin-right: 7vw;
}
.multi_pic{
    height: 20vh;
    width: auto;
}

.task_text{
    grid-area: task-text;
    text-align: left;
    margin-left: 5vw;
    font-size: 5vh;
    font-family: "Ink Free", sans-serif;
}

.answers{
    grid-area: answers;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: flex-start;
    align-content: center;
    margin-left: 5vw;
    margin-right: 7vw;
    gap: 1vw;
}
.answer{
    flex: 1 1 auto;
    width: 0;
    height: 20vh;
    border: 1px solid black;
    font-family: "Ink Free", sans-serif;
    font-size: 5vh;
    background: white;
}
