{% extends 'mathesdigi_app/base_task_template.html' %}
{% load static %}

{% block static_files %}
    {% with 'single_answer' as page %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}Mathes 2 - 1.Bsp{% endblock %}

<!-- Form -->
{% block form %}
    {% url 'main_view' heft='Mathes2' direct_to_task_name='1_task_A' as forward_url %}
    {% url 'check_user_data' as backward_url %}
    {% with "return checkForm_example_singleAnswer(solution='12')" as onsubmit %}
        {% with 'example' as this_task_process %}
            {{ block.super }}
        {% endwith %}
    {% endwith %}
{% endblock %}

<!-- Images -->
{% block images %}
    {% with '2_example' as monkey_number %}
        {% with '0' as progressbar %}
            {{ block.super }}
        {% endwith %}
    {% endwith %}
{% endblock %}

<!-- Task -->
{% block task %}
    <div class="task"
         style="background-image: url('{% static "mathesdigi_app/img/Background_with_single_answerfield.svg" %}');">
        <div class="task_text">Wie viele Radiergummis sind es?</div>
        <div class="task_pic"><img src="{% static 'mathesdigi_app/img/2_task/1_example.svg' %}"
                                   alt="">
        </div>
        <input class="input_field_large" type="text" inputmode="None" id="kids_answer_1" placeholder="Antwort">
    </div>
{% endblock %}

<!-- Input Buttons -->
{% block input-buttons %}{% include 'mathesdigi_app/number_buttons.html' %}{% endblock %}