{% extends 'mathesdigi_app/base_task_template.html' %}
{% load static %}

{% block static_files %}
    {% with 'drag_and_drop' as page %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}Mathes 2 - 2.A{% endblock %}

<!-- Form -->
{% block form %}
    {% url 'main_view' heft='Mathes2' direct_to_task_name='2_task_B' as forward_url %}
    {% url 'main_view' heft='Mathes2' direct_to_task_name='2_example' as backward_url %}
    {% with "return checkForm_dragAndDrop()" as onsubmit %}
        {% with 'task_normal' as this_task_process %}
            {{ block.super }}
        {% endwith %}
    {% endwith %}
{% endblock %}

<!-- Images -->
{% block images %}
    {% with '2' as monkey_number %}
        {% with '0' as progressbar %}
            {{ block.super }}
        {% endwith %}
    {% endwith %}
{% endblock %}

<!-- Task -->
{% block task %}
    <div class="task" style="background-image: url('{% static "mathesdigi_app/img/Background_clean.svg" %}');">
        <div class="task_text">Ordne. Beginne mit der kleinsten Zahl.</div>
        <div class="task_pics dropzone" id="task_pics">
            <img id="55" class="multi_pic" src="{% static 'mathesdigi_app/img/2_task/2_55.svg' %}" draggable="true"
                 alt="">
            <img id="8" class="multi_pic" src="{% static 'mathesdigi_app/img/2_task/2_8.svg' %}" draggable="true"
                 alt="">
            <img id="98" class="multi_pic" src="{% static 'mathesdigi_app/img/2_task/2_98.svg' %}" draggable="true"
                 alt="">
            <img id="12" class="multi_pic" src="{% static 'mathesdigi_app/img/2_task/2_12.svg' %}" draggable="true"
                 alt="">
            <img id="45" class="multi_pic" src="{% static 'mathesdigi_app/img/2_task/2_45.svg' %}" draggable="true"
                 alt="">
            <img id="88" class="multi_pic" src="{% static 'mathesdigi_app/img/2_task/2_88.svg' %}" draggable="true"
                 alt="">
        </div>
        <div class="answers">
            <div id="kids_answer_1" class="answer dropzone" inputmode="none"></div>
            <div id="kids_answer_2" class="answer dropzone" inputmode="none"></div>
            <div id="kids_answer_3" class="answer dropzone" inputmode="none"></div>
            <div id="kids_answer_4" class="answer dropzone" inputmode="none"></div>
            <div id="kids_answer_5" class="answer dropzone" inputmode="none"></div>
            <div id="kids_answer_6" class="answer dropzone" inputmode="none"></div>
        </div>

        <!-- Only for sending the data in our form. -->
        <input id="answers_collected" hidden name="2A2A">
    </div>
{% endblock %}

<!-- Input Buttons -->
{% block input-buttons %}{% include 'mathesdigi_app/number_buttons.html' %}{% endblock %}