{% extends 'mathesdigi_app/base_task_template.html' %}
{% load static %}

{% block static_files %}
    {% with 'drag_and_drop' as page %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}Mathes 2 - 2.A{% endblock %}

<!-- Form -->
{% block form %}
    {% url 'main_view' heft='Mathes2' direct_to_task_name='3_example' as forward_url %}
    {% url 'main_view' heft='Mathes2' direct_to_task_name='2_task_A' as backward_url %}
    {#    {% with "return checkForm_dragAndDrop()" as onsubmit %}#}
    {% with 'task_normal' as this_task_process %}
        {{ block.super }}
    {% endwith %}
    {#    {% endwith %}#}
{% endblock %}

<!-- Images -->
{% block images %}
    {% with '2' as monkey_number %}
        {% with '0' as progressbar %}
            {{ block.super }}
        {% endwith %}
    {% endwith %}
{% endblock %}

<!-- Task -->
{% block task %}
    <div class="task" style="background-image: url('{% static "mathesdigi_app/img/Background_clean.svg" %}');">
        <div class="task_text">Ordne. Beginne mit der kleinsten Zahl.</div>
        <div class="task_pics dropzone" id="task_pics">
            <img id="72" class="multi_pic" src="{% static 'mathesdigi_app/img/2_task/2_72.svg' %}" draggable="true"
                 alt="">
            <img id="34" class="multi_pic" src="{% static 'mathesdigi_app/img/2_task/2_34.svg' %}" draggable="true"
                 alt="">
            <img id="67" class="multi_pic" src="{% static 'mathesdigi_app/img/2_task/2_67.svg' %}" draggable="true"
                 alt="">
            <img id="71" class="multi_pic" src="{% static 'mathesdigi_app/img/2_task/2_71.svg' %}" draggable="true"
                 alt="">
            <img id="14" class="multi_pic" src="{% static 'mathesdigi_app/img/2_task/2_14.svg' %}" draggable="true"
                 alt="">
            <img id="0" class="multi_pic" src="{% static 'mathesdigi_app/img/2_task/2_0.svg' %}" draggable="true"
                 alt="">
        </div>
        <div class="answers">
            <div id="kids_answer_1" class="answer dropzone" inputmode="none"></div>
            <div id="kids_answer_2" class="answer dropzone" inputmode="none"></div>
            <div id="kids_answer_3" class="answer dropzone" inputmode="none"></div>
            <div id="kids_answer_4" class="answer dropzone" inputmode="none"></div>
            <div id="kids_answer_5" class="answer dropzone" inputmode="none"></div>
            <div id="kids_answer_6" class="answer dropzone" inputmode="none"></div>
        </div>
    </div>
{% endblock %}

<!-- Input Buttons -->
{% block input-buttons %}{% include 'mathesdigi_app/number_buttons.html' %}{% endblock %}