{% extends 'mathesdigi_app/base_task_template.html' %}
{% load static %}

{% block static_files %}
    {% with 'single_answer' as page %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}Mathes 2 - 3.B{% endblock %}

<!-- Form -->
{% block form %}
    {% url 'main_view' heft='Mathes2' direct_to_task_name='3_task_C' as forward_url %}
    {% url 'main_view' heft='Mathes2' direct_to_task_name='3_task_A' as backward_url %}
    {#    {% with "return checkForm_singleAnswer()" as onsubmit %}#}
    {% with 'task_normal' as this_task_process %}
        {{ block.super }}
    {% endwith %}
    {#    {% endwith %}#}
{% endblock %}

<!-- Images -->
{% block images %}
    {% with '2' as monkey_number %}
        {% with '0' as progressbar %}
            {{ block.super }}
        {% endwith %}
    {% endwith %}
{% endblock %}

<!-- Task -->
{% block task %}
    <div class="task"
         style="background-image: url('{% static "mathesdigi_app/img/Background_eimer_2.svg" %}');">
        <div class="task_text">Verdopple.</div>
        <input class="input_field_small_left" readonly value="7">
        <input class="input_field_small_right" type="text" inputmode="None" id="kids_answer_1" name="2A3B"
               placeholder="Antwort" value="{% if 2A3B %}{{ 2A3B }}{% endif %}">
    </div>
{% endblock %}