{% extends 'mathesdigi_app/base_task_template.html' %}
{% load static %}

{% block static_files %}
    {% with 'task_normal' as page %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}Mathes 2 - 3.A{% endblock %}

<!-- Form -->
{% block form %}
    {% url 'main_view' heft='Mathes2' direct_to_task_name='3_task_B' as forward_url %}
    {% url 'main_view' heft='Mathes2' direct_to_task_name='3_example' as backward_url %}
    {#    {% with "return checkForm_singleAnswer()" as onsubmit %}#}
    {% with 'task_normal' as this_task_process %}
        {{ block.super }}
    {% endwith %}
    {#    {% endwith %}#}
{% endblock %}

<!-- Images -->
{% block images %}
    {% with '2' as monkey_number %}
        {% with '0' as progressbar %}
            {{ block.super }}
        {% endwith %}
    {% endwith %}
{% endblock %}

<!-- Task -->
{% block task %}
    <div class="task"
         style="background-image: url('{% static "mathesdigi_app/img/Mathes_2/task_3_4/Background_1.svg" %}');">
        <div class="task_text">Verdopple.</div>
        <input class="input_field_small_left" readonly value="4">
        <input class="input_field_small_right" type="text" inputmode="None" id="kids_answer_1" name="2A3A"
               placeholder="Antwort" value="{% if 2A3A %}{{ 2A3A }}{% endif %}">
    </div>
{% endblock %}