{% extends 'mathesdigi_app/base_task_template.html' %}
{% load static %}

{% block static_files %}
    {% with 'task_normal' as page %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}Mathes 2 - 4.E{% endblock %}

<!-- Form -->
{% block form %}
    {% url 'main_view' heft='Mathes2' direct_to_task_name='4_task_F' as forward_url %}
    {% url 'main_view' heft='Mathes2' direct_to_task_name='4_task_D' as backward_url %}
    {% with 'task_normal' as this_task_process %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

<!-- Images -->
{% block images %}
    {% with '2' as monkey_number %}
        {% with '0' as progressbar %}
            {% with 'Mathes_2/task_3_4/Background_3' as background %}
                {{ block.super }}
            {% endwith %}
        {% endwith %}
    {% endwith %}
{% endblock %}

<!-- Task -->
{% block task %}
    <div class="task_text">Halbiere.</div>
    <input class="input_field_small_right" readonly value="84">
    <input class="input_field_small_left" type="text" inputmode="None" id="kids_answer_1" name="2A4E"
           placeholder="Antwort" value="{% if 2A4E %}{{ 2A4E }}{% endif %}">
{% endblock %}