<!DOCTYPE html>
<html>
<head>
  <title>Student Information Form</title>
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'Mathes2/css/registration.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
</head>
<body>
  <h1>Student Information Form</h1>
  <form  action="{% url 'registration' %}" method="post">
    {% csrf_token %}
    <label for="pseudonym">Pseudonym des Kindes:</label>
    <input type="text" id="pseudonym" name="pseudonym"><br><br>
    <label for="klasse">Klasse:</label>
    <input type="text" id="klasse" name="klasse"><br><br>
    <label for="schule">Schule:</label>
    <input type="text" id="schule" name="schule"><br><br>
    <label for="jahrgang">Jahrgang:</label>
    <input type="text" id="jahrgang" name="jahrgang"><br><br>
    <label for="mailadresse">Mailadresse für Ergebnisse:</label>
    <input type="email" id="mailadresse" name="mailadresse"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>

