<!DOCTYPE html>
<html>
<head>
  <title>Registrierungsseite</title>
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'mathesdigi_app/css/registration.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
</head>
<body>
    <div class="container">
        <h1>Hinweise für Lehrende zum Ablauf des Testes</h1>
        <ul>
            <li>Erster Hinweis</li>
            <li>Zweiter Hinweis</li>
            <li>Dritter Hinweis</li>
        </ul>
    </div>
    <div class="container">
        <form  action="{% url 'registration' %}" method="post">
            {% csrf_token %}
            <label for="pseudonym">Pseudonym des Kindes:</label>
            <input type="text" id="pseudonym" name="pseudonym"
                   value="TestUser{% if pseudonym %}{{ pseudonym }}{% endif %}"><br>
            {%  if error_pseudonym %} <p style="color: red">Fehler</p> {% endif %} <br>
            <label for="mailadresse">Mailadresse für Ergebnisse:</label>
            <input type="email" id="mailadresse" name="mailadresse"
                   value="test@mail.de{% if mailadresse %}{{ mailadresse }}{% endif %}"><br>
            {%  if error_mailadresse %} <p style="color: red">Fehler.</p> {% endif %} <br>
            <input type="submit" value="Weiter">
        </form>
    </div>


</body>
</html>

