{% extends 'admin/base.html' %}

{% block content %}
    <div>
        <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}

                <button type="submit">Upload CSV</button>
        </form>
        {% if error_message %}
        <br>
        <div style="background-color: gray; padding: 10px;">
            <h2>Fehlermeldungen:</h2>
            {% for error in error_message %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br />

{% endblock %}